
AUTH_DB_URL=jdbc:postgresql://auth-db:5432/authdb
DB_USER=admin
DB_PASSWORD=changeme

JWT_SECRET=your-secret-key-must-be-at-least-32-characters
JWT_REFRESH=your-refresh-key-must-be-at-least-32-characters

ALLOWED_ORIGINS=http://localhost:80
SPRING_PROFILES_ACTIVE=docker
